<div class="app-char">
    <div>
        <div>
            <div class="chart">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
            </canvas>
            </div>
        </div>
    </div>
    <div style="margin-left: 50px;margin-top: 10px;">
        <button mat-button mat-raised-button color="primary" style="margin-right: 5px;" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
        <button mat-button mat-raised-button color="primary" style="margin-right: 5px;" (click)="changeLabels()">Change Labels</button>
        <button mat-button mat-raised-button color="primary" style="margin-right: 5px;" (click)="addSlice()">Add Slice</button>
        <button mat-button mat-raised-button color="primary" style="margin-right: 5px;" (click)="removeSlice()">Remove Slice</button>
        <button mat-button mat-raised-button color="primary" style="margin-top: 5px;" (click)="changeLegendPosition()">Change Legend Position</button>
    </div>
</div>